@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

 <img style="width: 100px;" src="~/imge/isguvenligi.jpg" >
    


    <h1>İş güvenliği</h1>
    <p>
        <strong>İş Güvenliği Nedir? İş Güvenliği Neden Önemlidir?</strong>

        Son yıllarda yaşanan iş kazaları sonucu sakat kalma ya da ölüm sonuçlarından dolayı,
        oldukça önemli hale gelen iş sağlığı ve güvenliği konusu, toplumda da bir farkındalık yaratabilmiş
        durumdadır. " İSG " olarak kısaltılan bu kavram, çalışanları korumaya yönelik olarak yapılan
        uygulamalar ve incelemelerin, kanun ve yönetmeliklerle desteklenmesi durumudur.

        <strong>İş güvenliği </strong>kavramı, çalışanların güvenliğini
        sağlamak, sağlıklı ve güvenli şartlarda
        çalışmak amacıyla alınan tedbirler olarak tanımlanabilir.
        Yenilenen ve her daim gelişen teknoloji ile beraber iş yükü azalsada tebirlerin her
        zaman alınması gerektiğini unutmamak gerekli. İş sağlığı ve güvenliği bilimi,
        işyerlerinde yapılan işin sorunsuz yürütülmesi ile bağlantılı olarak ortaya çıkan
        tehlikelerden, çalışanlarının sağlığına zarar getirebilecek şartlardan korunma ve
        buna ek olarak, daha güvenli bir iş hayatı ortamı oluşturabilmek amaçlı yapılan metotlu
        çalışmaları kapsamaktadır. Genel olarak ise bu bilim, sadece çalışanı koruma konusunu değil;
        bunun yanında iş yerini, bağlı kuruluşları ve işin gerçekleştirildiği çevreyi koruma durumunu
        da kapsamaktadır.
    </p>
</div>
