@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Frontend ve Backend Yazılım Uzmanları ile iş güvenliği ile ilgili sitemiz. Sizde Beğenirseniz Bu adresten Ulaşabilirsiniz mehmetcelik4602@gmail.com</p>
